.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
    font-size: 15px;
}


/*congrats, you reached the border of CSS!*/